@font-face {
	font-family: "ExoThin";
	src: url("../fonts/Exo-Thin/Exo-Thin.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "ExoThin";
	src: url("../fonts/Exo-Thin/Exo-Thin.eot") format("embedded-opentype");
	font-weight: 400;
}
